# Ignore everything in this directory
*
# Except this file
!.gitignore
!main.sh
!filter.sh
!filter.sh.bak
!README.md
!db/
!db/*
!scripts/
!scripts/*
# !/db/readme.txt
!/output/readme.txt
!/testing/test.fa
